version: "3.8"
services:
  flask:
    build: .
    container_name: flask_app
    ports:
      - "81:80"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/health"]
      interval: 10s
      timeout: 5s
      retries: 5
